<!DOCTYPE html>
<html>
<head>
    <title>Cement CI Server</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="cement.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <hgroup>
            <h1>CEMENT</h1>
            <h2 class="project">{{ config.name }}</h2>
            <nav>
                <form method="POST" action="/build">
                    <button class="build">Build</button>
                </form>
            </nav>
        </hgroup>
    </header>
    <div id="content">
        <ul class="jobs">
            {% if jobs is empty %}
                <li class="nojob">No jobs have been submitted.</li>
            {% else %}
                {% for build in jobs %}
                    <li class="job">
                        <a href="/job/blah">
                            <div class="time">
                                {{ build.date|date('D d M Y H:i:s O (T)') }}
                            </div>
                            <div class="job_id">{{ build.guid }}</div>
                            {% if build.statusIs("succeeded") %}
                                <div class="outcome success">&#10003;&nbsp;success</div>
                            {% else %}
                                <div class="outcome failure">&#10008;&nbsp;failure</div>
                            {% endif %}
                        </a>
                        <div class="job_container">
                            {{ build.buildOutput|nl2br }}
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
         </ul>
     </div>
 </body>
</html>
